@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Righteous&display=swap');

body {
    font-family: 'Righteous';
    color: #5148fc;
    background-color: #ededed;
    margin-left: 18em;
    margin-top: 5em;
}

.back {
    position: absolute;
    padding-top: 27em;
    padding-left: 2.3em;
}



  
